{
	"extends": [
		"plugin:prettier/recommended",
		"next",
		"next/core-web-vitals"
	],
	"globals": {
		"chrome": true
	},
	"rules": {
		"prettier/prettier": "error"
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts"]
		},
		"import/resolver": {
			"node": {
				"extensions": [".js", ".ts"]
			}
		}
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint/eslint-plugin"]
}
